.footer-bg {
  background-color: var(--cor-6);
}

.footer {
  display: grid;
  grid-template-areas:
  'titulo formulario'
  'contatos formulario'
  'copyright copyright';
  padding-top: 60px;
  padding-bottom: 60px;
  gap: 40px;
}

.footer h2 {
  font-family: "inter", sans-serif;
  color: var(--cor-0);
  font-size: 2rem;
  margin-bottom: 80px;
  grid-area: titulo;
}

.footer-contatos {
  grid-area: contatos;
}

.contato-info li {
  list-style: none;
  font-size: 1.25rem;
  line-height: 1.5;
  color: var(--cor-3);
}

.contato-info li + li {
  margin-top: 8px;
}

.contato-info a {
  text-decoration: none;
  color: currentColor;
  transition: .3s;
}

.contato-info a:hover {
  color: var(--cor-0);
}

.contato-redes {
  margin-top: 40px;
  list-style: none;
  display: flex;
  gap: 20px;
}

.formulario {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  grid-area: formulario;
}

.formulario div:nth-child(3) {
  grid-column: span 2;
}

.formulario div {
  display: flex;
  flex-direction: column;
}

.formulario label {
  color: var(--cor-0);
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 8px;
}

.formulario input, .formulario textarea {
  background-color: var(--cor-5);
  box-sizing: border-box;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #151515;
  resize: none;
  color: var(--cor-3);
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  width: 100%;
}

.formulario input:focus, .formulario textarea:focus{
  outline: solid 2px #2D2D2D;
}

.formulario input::placeholder, .formulario textarea::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--cor-4);
}

.formulario button {
  background: var(--grad-2);
  border-radius: 6px;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--cor-1);
  cursor: pointer;
  justify-self: start;
  padding: 16px 24px;
  grid-column: span 2;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

.formulario button:hover {
  background: linear-gradient(180deg, #8309CE 0%, #5D128C 100%);
}

.footer-copy {
  color: var(--cor-4);
  grid-area: copyright;
}

@media (max-width: 1060px) {
  .footer {
    grid-template-columns: 1fr 2fr;
    gap: 60px;
  }
}

@media (max-width: 840px) {
  .footer {
    grid-template-areas:
    'titulo titulo'
    'formulario formulario'
    'contatos contatos'
    'copyright copyright';
    padding-top: 40px;
    gap: 40px;
  }
  .footer h2 {
    margin-bottom: 0px;
  }
  .contato-info li {
    font-size: 1rem;
  }
  .formulario {
    max-width: 520px;
    gap: 20px;
  }
  .formulario button {
    padding: 16px 16px;
    font-size: 0.8rem;
  }
  .footer-copy {
    margin-top: 20px;
  }
  .contato-info {
    margin-top: -20px;
    border-top: 1px solid var(--cor-5);
    padding-top: 20px;
  }
}

@media (max-width: 640px) {
  .footer h2 {
    font-size: 1.4rem;
  }
}

@media (max-width: 500px) {
  .formulario {
    grid-template-columns: 1fr;
  }
  .formulario div:nth-child(2), .formulario div:nth-child(3) {
    grid-column: 1;
  }
  .footer-copy {
    font-size: 0.8rem;
  }
}