/* =========================================== VARIAVEIS DE CORES UTILIZADAS NO PROJETO ============================================= */

:root {
  --cor-0: #ffffff;
  --cor-1: #eeeeee;
  --cor-2: #dcdcdc;
  --cor-3: #a4a4a4;
  --cor-4: #4f4f4f;
  --cor-5: #121212;
  --cor-6: #000000;
  --cor-p1: #9013dd;
  --grad-1: linear-gradient(13.99deg, #000000 0%, #242424 77.98%);
  --grad-2: linear-gradient(180deg, #9013dd 0%, #7320a6 100%);
}

/* SUAVIZAÇÃO DO SCROLL */

html {
  scroll-behavior: smooth;
}

/* RESET DE ESTILO PADRAO DO NAVEGADOR */

body,
ul,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5f5f5;
  font-family: "Roboto", sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

/* =========================================== CSS UTILITARIOS ============================================= */

.container {
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.titulo-2 {
  font-family: "Inter", sans-serif;
  font-size: 4rem;
  line-height: 1.125;
  margin-bottom: 40px;
}

.texto-conteudo {
  font-size: 1.5rem;
  line-height: 1.5;
}

/* =========================================== CSS UTILITARIOS - MEDIA QUERIES ============================================= */

@media (max-width: 960px) {
  .titulo-2 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  .texto-conteudo {
    font-size: 1.2rem;
    line-height: 1.5;
  }
}

@media (max-width: 860px) {
  .titulo-2 {
    font-size: 2.5rem;
  }
}

@media (max-width: 720px) {
  .titulo-2 {
    font-size: 1.8rem;
  }
  .texto-conteudo {
    font-size: 1rem;
  }
}
