/* =========================================== HEADER ============================================= */

.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

/* MENU DO HEADER */

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  list-style: none;
}

/* LINKS DO MENU */

.header-menu a {
  text-decoration: none;
  color: currentColor;
  display: block;
  padding: 16px 0px;
  font-size: 1.125rem;
  line-height: 1.5;
  transition: .3s ;
}

/* =========================================== HEADER - MEDIA QUERIES ============================================= */

@media (max-width: 680px) {
  .header {
    flex-direction: column;
    gap: 40px;
  }
  .header img {
    max-width: 160px;
  }
  .header-menu {
    gap: 20px;
    justify-content: center;
  }
  .header-menu a {
    background-color: var(--cor-1);
    padding: 8px 16px;
    border-radius: 6px;
    font-size: 1rem;
  }
  .header-menu a:hover {
    background-color: var(--cor-2);
  }
}