/* =========================================== SECTION PROJETOS ============================================= */
.projetos {
  display: grid;
  grid-template-columns: 7fr 5fr;
  gap: 40px;
  margin-bottom: 80px;
  position: relative;
}

/* TITULO DA SECTION */
.projetos h2 {
  color: var(--cor-5);
  margin-top: 60px;
}

/* TEXTO DA SECTION */
.projetos > p {
  color: var(--cor-4);
  margin-bottom: 60px;
}
.projetos strong {
  color: var(--cor-5);
}

/* IMAGEM DECORATIVA */
.projetos img {
  margin-top: -40px;
  justify-self: center;
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.10));
}

/* DISPLAY COM MINIATURAS DOS PROJETOS */
.projetos-display {
  grid-column: 1;
  grid-row: 2;
  margin-top: -120px;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.projetos-display li {
  background-color: var(--cor-2);
  border-radius: 20px;
  height: 300px;
  box-sizing: border-box;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  display: flex;
  align-items: end;
}

.projetos-display li:last-child {
  grid-column: span 2;
}

.projetos-display div {
  width: 100%;
  padding: 0px 24px 24px 24px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(216, 216, 216, 0.25) 49.48%, rgba(167, 167, 167, 0.5) 100%);
  cursor: pointer;
}

.projetos-display h3 {
  font-family: "inter", sans-serif;
  font-size: 1.25rem;
  color: var(--cor-p1);
  font-weight: 600;
  margin-bottom: 6px;
}

.projetos-display p {
  font-size: 1rem;
  color: #747474;
  max-width: 20ch;
}

/* =========================================== PROJETOS - MEDIA QUERIES ============================================= */
@media (max-width: 1060px) {
  .projetos-display {
    margin-top: -80px;
  }
}

@media (max-width: 900px) {
  .projetos-display {
    grid-column: 1 / -1;
    margin-top: 0px;
    grid-template-columns: repeat(3, 240px);
    overflow-x: auto;
  }
  .projetos-display li {
    height: 240px;
  }
  .projetos-display li:last-child {
    grid-column: 3;
  }
}

@media (max-width: 860px) {
  .projetos h2 {
    margin-top: 40px;
  }
  .projetos {
    margin-bottom: 40px;
  }
}

@media (max-width: 800px) {
  .projetos-display {
    gap: 20px;
    padding: 6px 20px 6px 20px;
    margin-left: -20px;
    margin-right: -20px;
  }

  .projetos .seta-direita {
    width: 34px;
    height: 14px;
    position: absolute;
    bottom: -20px;
    right: 24px;
    background: url("../image/arrow.svg") no-repeat center;
    background-size: 100%;
    animation: apontando .8s infinite ;
    transition: opacity .3s ;
    display: none;
  }

  @keyframes apontando {
    0% {
      transform: translate(0px);
    }
    50% {
      transform: translate(10px);
    }
    100% {
      transform: translate(0px);
    }
  }
}

@media (max-width: 640px) {
  .projetos {
    gap: 20px;
  }
  .projetos img {
    margin-top: -20px;
  }
  .projetos-display h3 {
    font-size: 1.125rem;
  }
  .projetos-display p {
    font-size: 0.875rem;
  }
}

@media (max-width: 540px) {
  .projetos {
    grid-template-columns: 1fr;
    margin-top: 40px;
  }
  .projetos h2 {
    margin-top: 0px;
  }
  .projetos > p {
    margin-bottom: 20px;
  }
  .projetos img {
    display: none;
  }
}